@{
	ViewBag.Title = "ToursList";
}
<script type="text/javascript" src="~/Scripts/tourproject.init.js"></script>
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<img src="~/Files/@ViewBag.PhotoPath" align="left" Hspace="30" height="50" width="50" />
			<span class="navbar-brand"> Hello @ViewBag.clientName!</span>
			<a href="/Account/LogOff">
				<img src="~/Files/logout.png" align="left" Hspace="30" title="LogOut" height="45" width="45" />
			</a>
		</div>
	</div>
</div>
<div class="container body-content">
	<br />
	<div><input type="button" id="addTourBtn" onclick="tourproject.tourPage.addTourDialogOpen()" value="Add Tour"></div>
	<div id="AddTour" style="display: none;">
		@Html.Partial("AddTourForm")
	</div>

	<hr />
	<table id="list"></table>
	<div id="pager"></div>

	<table id="details"></table>
</div>